.UserHomePage {
    background: url('../../../common/media/image.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #1f4423 ;
    text-align: center;
    font-family: 'raleway';
    line-height: 40px;
    height: calc(100vh - 90px);
    overflow: hidden;
    padding: 12%;

}