.Suggestions {
    background: url('../common/media/traditional-food-around-the-world-Travlinmad.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: auto;
}

.Payment {
    height: 100vh;
    overflow-y: auto;
    padding-block: 1%;
    padding-inline: 33%;
    line-height: 30px;
}