.UserHomePage {
    background: url('../../media/userBack.jpg') no-repeat;
    background-size: cover;
    color: #1f4423 ;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 247px;
    font-family: 'raleway';
    line-height: 30px;
}